body {
    background-color: #0F1315;
    color: white;
}
nav{
    background-color: black;
}
nav a{
    color: #999C9D;
}
a:hover{
    background-color: black;
    color: black;
}
.btn{
    background-color: #FE6D00 !important; 
    color: white;
    border: none !important;
    border-radius:0px;
}
.btn-primary{
    width:100%;
}
.btn-secondary{
    width:20% !important;
}
.col{
    width: 40%;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
input, select, option{
    box-sizing:border-box;
    background-color: #20262A;
    color: white;
    border:none;
    padding: 10px;
}
/* select {
    max-width: ;
} */
input[type=text] {
    width: 100%;
}
input[type=select]{
    width: 100%;
}
/* input[text=checkbox]{
    display: flex;
    align-items:left;
} */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th{
    padding-top: 0!important;
}
td, th, thead {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td{
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    max-width: 1px;
}

tr:nth-child(even) {
    background-color: #181D20;
}
tr:nth-child(odd) {
    background-color: #20262A;
}

.sel {
    background-color: #434e56;
}

#passthrough_columns{
    resize: both;
}

p{
    display: inline-block;
    white-space: nowrap;
}
a .active .page_link{
    background-color: #FE6D00 !important;
    color: white;
}

a .inactive .page_link{
    color: black;
    background-color: white;
}

li, a{
    border: none !important;
    border-radius: 0px !important;
}
img {
    max-width: 100%;
    max-height: 100%;
}