{% extends "bootstrap/base.html" %}
{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery-3.5.1.min.js') }}">\x3C/script>')</script>

{% endblock %}

{% block title %}DataRobot Authentication{% endblock %}
{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='main.css')}}">
{% endblock %}
{% block content %}
<div class="container center col">
	{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
        {{ message }}
    </div>
    {% endfor %}

		<h1>Authentication</h1><br>
		{% if api_key %}
		<form method=post enctype=multipart/form-data>
		  <label for="ENDPOINT">Endpoint:</label><br>
		  <input type=text name='ENDPOINT' id='ENDPOINT' value="https://app.datarobot.com"><br><br>
		  <label for="API_KEY">API Key:</label><br>
		  <input type=text name='API_KEY' id='API_KEY' autocomplete="off"><br><br>
		  <input type=submit value='Authenticate' class='btn btn-primary'><br><br><br>
		</form>
		{% endif %}


</div>

{% endblock %}
