{% extends "bootstrap/base.html" %}
{% block navbar %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('upload_file')}}">
            <img alt="Brand" src="{{url_for('static', filename='assets/Predictor-Logo.png')}}">
          </a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{url_for('config')}}">Config <span class="sr-only">(current)</span></a></li>
          <li><a href="{{url_for('upload_file')}}">Score </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{url_for('index')}}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
{% endblock %}